Introduction to Pandas in Python

1. What is Pandas?
Pandas is an open-source data analysis and data manipulation library for Python. It provides powerful data structures such as Series and DataFrame, which allow for efficient handling and analysis of structured data.

Pandas is built on top of NumPy and is widely used for data preprocessing, cleaning, transformation, and analysis in data science and machine learning.

Introduction to NumPy

What is NumPy?
NumPy (Numerical Python) is a powerful Python library used for numerical computing. It provides support for multi-dimensional arrays and mathematical functions, making it an essential library for handling structured data before using Pandas.

Why NumPy?
1.Faster than Python lists for numerical operations

2.Efficient array manipulations

3.Provides mathematical and statistical functions

Installing NumPy
If you haven’t installed NumPy, you can do so using:

In [1]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in g:\project\lib\site-packages (1.26.4)

Importing NumPy

In [2]:
import numpy as np  # Import NumPy with an alias for easy usage

Creating a NumPy Array

In [3]:
arr = np.array([1, 2, 3, 4, 5])
print("NumPy Array:", arr)

NumPy Array: [1 2 3 4 5]

Basic Operations with NumPy

In [5]:
# Creating an array
arr = np.array([10, 20, 30, 40, 50])

In [6]:
# Performing basic arithmetic
print("Array + 5:", arr + 5)  # Adds 5 to each element
print("Array * 2:", arr * 2)  # Multiplies each element by 2
print("Mean of array:", np.mean(arr))  # Calculates mean
print("Standard Deviation:", np.std(arr))  # Calculates standard deviation

Array + 5: [15 25 35 45 55]
Array * 2: [ 20  40  60  80 100]
Mean of array: 30.0
Standard Deviation: 14.142135623730951

2. Installing and Importing Pandas

Installing Pandas (if not already installed)

In [7]:
#Uncomment and run the following line in a Jupyter Notebook cell if you haven't installed Pandas yet.
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in g:\project\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in g:\project\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\project\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\project\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in g:\project\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in g:\project\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Importing the Pandas Library

In [8]:
# Importing Pandas
import pandas as pd

Checking Pandas Version

In [9]:
# Displaying Pandas version
print("Pandas Version:", pd.__version__)

Pandas Version: 2.2.2

3. Loading Data into a Pandas DataFrame

Reading a CSV File into a DataFrame(a)

In [10]:
a=pd.read_csv(r"C:\Users\SHOBHA REDDY\Downloads\MobilePriceRange.csv")  # Loading dataset

In [11]:
a# Displaying the DataFrame

,BatteryPower,InternalMemory,ClockSpeed,NoOfCores,RAM,TalkTime,DualSim,3G,4G,WiFi,...,MobileDepth,MobileWeight,TouchScreen,ScreenHeight,ScreenWidth,FrontCameraPx,RearCameraPX,PxHeight,PxWeight,PriceRange
0,842,7,2.2,2,2549,19,0,0,0,1,...,0.6,188,0,9,7,1,2,20,756,Medium
1,1021,53,0.5,3,2631,7,1,1,1,0,...,0.7,136,1,17,3,0,6,905,1988,High
2,563,41,0.5,5,2603,9,1,1,1,0,...,0.9,145,1,11,2,2,6,1263,1716,High
3,615,10,2.5,6,2769,11,0,1,0,0,...,0.8,131,0,16,8,0,9,1216,1786,High
4,1821,44,1.2,2,1411,15,0,1,1,0,...,0.6,141,1,8,2,13,14,1208,1212,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,2,0.5,6,668,19,1,1,1,0,...,0.8,106,1,13,4,0,14,1222,1890,Low
1996,1965,39,2.6,4,2032,16,1,1,0,1,...,0.2,187,1,11,10,0,3,915,1965,High
1997,1911,36,0.9,8,3057,5,1,1,1,0,...,0.7,108,1,9,1,1,3,868,1632,VeryHigh
1998,1512,46,0.9,5,869,19,0,1,1,1,...,0.1,145,1,18,10,4,5,336,670,Low
1999,510,45,2.0,6,3919,2,1,1,1,1,...,0.9,168,1,19,4,5,16,483,754,VeryHigh

4. Exploring the DataFrame

Displaying Data

In [12]:
a.head(100)  # Display first 100 rows

,BatteryPower,InternalMemory,ClockSpeed,NoOfCores,RAM,TalkTime,DualSim,3G,4G,WiFi,...,MobileDepth,MobileWeight,TouchScreen,ScreenHeight,ScreenWidth,FrontCameraPx,RearCameraPX,PxHeight,PxWeight,PriceRange
0,842,7,2.2,2,2549,19,0,0,0,1,...,0.6,188,0,9,7,1,2,20,756,Medium
1,1021,53,0.5,3,2631,7,1,1,1,0,...,0.7,136,1,17,3,0,6,905,1988,High
2,563,41,0.5,5,2603,9,1,1,1,0,...,0.9,145,1,11,2,2,6,1263,1716,High
3,615,10,2.5,6,2769,11,0,1,0,0,...,0.8,131,0,16,8,0,9,1216,1786,High
4,1821,44,1.2,2,1411,15,0,1,1,0,...,0.6,141,1,8,2,13,14,1208,1212,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1137,7,1.0,3,3616,12,0,1,0,1,...,1.0,196,1,13,5,18,19,942,1179,VeryHigh
96,1355,23,2.3,5,880,8,0,1,1,0,...,0.2,132,1,19,4,10,16,651,891,Low
97,1665,60,0.5,6,1601,14,0,1,1,0,...,0.2,194,0,18,17,3,18,1572,1684,High
98,657,37,2.5,2,1412,18,0,0,0,0,...,0.7,141,1,14,3,0,1,476,961,Low
99,593,31,0.5,7,1692,7,0,1,0,0,...,0.4,156,0,6,2,6,7,1233,1317,Medium

In [13]:
a.tail(100)   # Display last 100 rows

,BatteryPower,InternalMemory,ClockSpeed,NoOfCores,RAM,TalkTime,DualSim,3G,4G,WiFi,...,MobileDepth,MobileWeight,TouchScreen,ScreenHeight,ScreenWidth,FrontCameraPx,RearCameraPX,PxHeight,PxWeight,PriceRange
1900,1619,21,1.9,1,1641,13,0,1,1,0,...,0.4,138,0,7,2,2,9,46,562,Medium
1901,965,13,1.4,8,2343,15,0,1,0,0,...,0.9,197,0,17,12,1,2,645,1275,High
1902,730,9,1.5,4,2787,7,0,1,0,1,...,0.7,122,0,10,8,9,15,1371,1677,High
1903,1361,47,1.4,5,2495,16,0,0,0,1,...,1.0,169,0,8,7,1,2,881,1382,High
1904,1494,45,1.6,5,3208,4,0,1,1,0,...,0.8,158,0,11,9,3,4,449,790,VeryHigh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,2,0.5,6,668,19,1,1,1,0,...,0.8,106,1,13,4,0,14,1222,1890,Low
1996,1965,39,2.6,4,2032,16,1,1,0,1,...,0.2,187,1,11,10,0,3,915,1965,High
1997,1911,36,0.9,8,3057,5,1,1,1,0,...,0.7,108,1,9,1,1,3,868,1632,VeryHigh
1998,1512,46,0.9,5,869,19,0,1,1,1,...,0.1,145,1,18,10,4,5,336,670,Low
1999,510,45,2.0,6,3919,2,1,1,1,1,...,0.9,168,1,19,4,5,16,483,754,VeryHigh

Checking DataFrame Information

In [15]:
#  Display column names, data types, and missing values
print("DataFrame Info:")
a.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BatteryPower    2000 non-null   int64
 1   InternalMemory  2000 non-null   int64
 2   ClockSpeed      2000 non-null   float64
 3   NoOfCores       2000 non-null   int64
 4   RAM             2000 non-null   int64
 5   TalkTime        2000 non-null   int64
 6   DualSim         2000 non-null   int64
 7   3G              2000 non-null   int64
 8   4G              2000 non-null   int64
 9   WiFi            2000 non-null   int64
 10  Bluetooth       2000 non-null   int64
 11  MobileDepth     2000 non-null   float64
 12  MobileWeight    2000 non-null   int64
 13  TouchScreen     2000 non-null   int64
 14  ScreenHeight    2000 non-null   int64
 15  ScreenWidth     2000 non-null   int64
 16  FrontCameraPx   2000 non-null   int64
 17  RearCameraPX    2000 non-null   int64
 18  PxHeight        2000 non-null   int64
 19  PxWeight        2000 non-null   int64
 20  PriceRange      2000 non-null   object
dtypes: float64(2), int64(18), object(1)
memory usage: 328.3+ KB

Summary Statistics

In [16]:
#Generate summary statistics for numerical columns
print("\nSummary Statistics:")
a.describe()

Summary Statistics:

,BatteryPower,InternalMemory,ClockSpeed,NoOfCores,RAM,TalkTime,DualSim,3G,4G,WiFi,Bluetooth,MobileDepth,MobileWeight,TouchScreen,ScreenHeight,ScreenWidth,FrontCameraPx,RearCameraPX,PxHeight,PxWeight
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,32.046500,1.522250,4.520500,2124.213000,11.011000,0.509500,0.761500,0.521500,0.507000,0.4950,0.501750,140.249000,0.503000,12.306500,5.767000,4.309500,9.916500,645.108000,1251.515500
std,439.418206,18.145715,0.816004,2.287837,1084.732044,5.463955,0.500035,0.426273,0.499662,0.500076,0.5001,0.288416,35.399655,0.500116,4.213245,4.356398,4.341444,6.064315,443.780811,432.199447
min,501.000000,2.000000,0.500000,1.000000,256.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.100000,80.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,500.000000
25%,851.750000,16.000000,0.700000,3.000000,1207.500000,6.000000,0.000000,1.000000,0.000000,0.000000,0.0000,0.200000,109.000000,0.000000,9.000000,2.000000,1.000000,5.000000,282.750000,874.750000
50%,1226.000000,32.000000,1.500000,4.000000,2146.500000,11.000000,1.000000,1.000000,1.000000,1.000000,0.0000,0.500000,141.000000,1.000000,12.000000,5.000000,3.000000,10.000000,564.000000,1247.000000
75%,1615.250000,48.000000,2.200000,7.000000,3064.500000,16.000000,1.000000,1.000000,1.000000,1.000000,1.0000,0.800000,170.000000,1.000000,16.000000,9.000000,7.000000,15.000000,947.250000,1633.000000
max,1998.000000,64.000000,3.000000,8.000000,3998.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,200.000000,1.000000,19.000000,18.000000,19.000000,20.000000,1960.000000,1998.000000

Checking Data Types of Columns

In [17]:
a.dtypes # Display data types of each column

BatteryPower        int64
InternalMemory      int64
ClockSpeed        float64
NoOfCores           int64
RAM                 int64
TalkTime            int64
DualSim             int64
3G                  int64
4G                  int64
WiFi                int64
Bluetooth           int64
MobileDepth       float64
MobileWeight        int64
TouchScreen         int64
ScreenHeight        int64
ScreenWidth         int64
FrontCameraPx       int64
RearCameraPX        int64
PxHeight            int64
PxWeight            int64
PriceRange         object
dtype: object

5. Selecting Specific Columns in a DataFrame

Selecting a Single Column

In [20]:
#Selecting Columns:
#Use df['column'] to select data.
a['BatteryPower']       # Selecting the 'BatteryPower ' column

0        842
1       1021
2        563
3        615
4       1821
        ...
1995     794
1996    1965
1997    1911
1998    1512
1999     510
Name: BatteryPower, Length: 2000, dtype: int64

Selecting Multiple Columns

In [21]:
#Use df[['col1', 'col2']] to select multiple columns.
a[['ScreenWidth', 'PriceRange']]

      ScreenWidth PriceRange
0               7     Medium
1               3       High
2               2       High
3               8       High
4               2     Medium
...           ...        ...
1995            4        Low
1996           10       High
1997            1   VeryHigh
1998           10        Low
1999            4   VeryHigh

[2000 rows x 2 columns]

Selecting Multiple Columns for a Specific Row Range

In [24]:
#Selecting multiple columns for the rows from 1000 to 2000
a[['BatteryPower', '4G', 'PriceRange']][1000:2000]

      BatteryPower  4G PriceRange
1000           594   1       High
1001          1524   0        Low
1002           511   0        Low
1003          1402   0        Low
1004           965   0       High
...            ...  ..        ...
1995           794   1        Low
1996          1965   0       High
1997          1911   1   VeryHigh
1998          1512   1        Low
1999           510   1   VeryHigh

[1000 rows x 3 columns]

In [26]:
# Selecting 'BatteryPower', '4G', and 'PriceRange' columns for every alternate row (step=2) within the positional index range from 1000 to 2000
a[['BatteryPower', '4G', 'PriceRange']][1000:2000:2]

      BatteryPower  4G PriceRange
1000           594   1       High
1002           511   0        Low
1004           965   0       High
1006           919   0        Low
1008          1977   0   VeryHigh
...            ...  ..        ...
1990          1617   1        Low
1992           674   0        Low
1994           858   0   VeryHigh
1996          1965   0       High
1998          1512   1        Low

[500 rows x 3 columns]

In [29]:
a[['BatteryPower', '4G', 'PriceRange']][0:1000:2000]  # Selecting with a step of 2000

   BatteryPower  4G PriceRange
0           842   0     Medium

6. Filtering Rows in a DataFrame

Filtering Rows Based on a Condition

In [30]:
a[a['PriceRange'] == 'Medium']    # Select only rows where 'Price Range' is 'Medium'

,BatteryPower,InternalMemory,ClockSpeed,NoOfCores,RAM,TalkTime,DualSim,3G,4G,WiFi,...,MobileDepth,MobileWeight,TouchScreen,ScreenHeight,ScreenWidth,FrontCameraPx,RearCameraPX,PxHeight,PxWeight,PriceRange
0,842,7,2.2,2,2549,19,0,0,0,1,...,0.6,188,0,9,7,1,2,20,756,Medium
4,1821,44,1.2,2,1411,15,0,1,1,0,...,0.6,141,1,8,2,13,14,1208,1212,Medium
5,1859,22,0.5,1,1067,10,1,1,0,0,...,0.7,164,0,17,1,3,7,1004,1654,Medium
12,1815,33,2.8,4,1482,2,0,1,0,0,...,0.6,159,0,18,0,2,17,607,748,Medium
18,1131,49,0.5,5,1835,16,1,1,0,0,...,0.6,101,1,19,13,11,18,658,878,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,1454,6,2.6,3,1300,2,0,0,0,1,...,0.4,199,0,10,0,8,20,698,1018,Medium
1984,797,37,2.2,7,2216,6,1,1,0,0,...,0.9,144,0,9,5,0,2,206,1167,Medium
1986,1139,58,0.9,2,1850,8,1,1,1,0,...,0.5,161,0,9,4,6,11,742,999,Medium
1988,1547,57,2.9,1,1620,19,0,0,0,1,...,0.4,114,1,9,2,2,3,347,957,Medium
1989,586,15,2.8,3,2592,3,0,0,0,0,...,0.2,83,0,12,8,2,11,241,854,Medium